src/*.exe
src/loanorlease
src/loanorleased
src/test_loanorlease
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.loanorlease
#compilation and Qt preprocessor part
*.qm
Makefile
loanorlease-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
